Binaries
DerivedDataCache
Intermediate
Saved
Build
enc_temp_folder
Content/__ExternalActors__
Content/__ExternalObjects__

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace